<div class='form-title {{colourClass}}'>
    <div>
        {{#if isLogged}}
            <span>{{loggedVal}}</span>
        {{else}}
            <span>{{notLoggedVal}}</span>
        {{/if}}
        <h1>{{text}}</h1>
    </div>
    <hr />
</div>