<!doctype html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <title>Patitas al rescate</title>
</head>

<body>
    {{> partials/nav.hbs }}
    <div class='d-flex w-100 justify-content-center align-items-center flex-column'>
        <div class='mt-3 d-flex flex-column w-75'>
            <h2>Mascotas perdidas registradas</h2>
            <hr />
        </div>
        <div class='d-flex flex-wrap'>
        {{#if publicaciones}}
            <div class="d-flex flex-wrap justify-content-around">
            {{#each publicaciones}}
                <div class='d-flex justify-content-center mx-3 my-3'>
                    <div class='card shadow-lg' style='width: 18rem;'>
                        <!-- Carousel -->
                        <div id="carousel{{@index}}" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                {{#each fotos}}
                                <div class="carousel-item {{#unless @index}}active{{/unless}}">
                                    <img src="/dogImg/{{nombre}}" class="d-block w-100"  style='height: 18.5rem'>
                                </div>
                                {{/each}}
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carousel{{@index}}"
                                data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carousel{{@index}}"
                                data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                        <!-- Body -->
                        <div class='card-body d-flex flex-column justify-content-between'>
                            <a
                                class="btn w-100 card-header"
                                href="https://www.google.com/maps/search/?api=1&query={{latitud}}%2C{{longitud}}"
                                target="_blank"
                                rel="noopener noreferrer"
                            >
                                Ver dónde fue hallada
                            </a>
                            <p class='card-text'>
                                <p><b>Rescatista:</b> {{rescatista.nombre}}</p>
                                <p><b>Descripcion:</b> {{descripcion}}</p>
                                {{#if hogar}}
                                    <hr />
                                    <span><b>En hogar</b> {{hogar.nombre}}</span>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">
                                            <b style="font-size: 0.8rem;">Dirección</b><br/>
                                            <span style="font-size: 0.6rem;">{{hogar.direccion}}</span>
                                        </li>
                                        <li class="list-group-item">
                                            <b style="font-size: 0.8rem;">Teléfono</b><br/>
                                            <span style="font-size: 0.6rem;">{{hogar.telefono}}</span>
                                        </li>
                                    </ul>
                                {{/if}}
                            </p>
                            <form method="get" action="/mascotasPerdidas/encontreMiMascota/{{id}}">
                                <input type='submit' class='btn btn-primary' value='Continuar' />
                            </form>
                        </div>
                    </div>
                </div>
            {{/each}}
            </div>
        {{else}}
            <h2>Nada para mostrar :(</h2>
        {{/if}}
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>
</body>

</html>