<!doctype html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <title>Patitas al rescate</title>
    <script src="/js/misMascotas.js"></script>
    <link href="/css/pageDialog.css" rel="stylesheet" type="text/css" />
</head>

<body>
    {{> partials/nav.hbs this}}
    {{> partials/operationDialog.hbs success=success error=error}}
    <div class='d-flex flex-column w-100 justify-content-center align-items-center position-relative'>
        <!-- Mis mascotas -->
        <div class='d-flex w-75 flex-column my-4'>
            <div>
                <h1>Mis mascotas</h1>
                <hr />
            </div>
            <div>
                {{#if mascotas}}
                <div class='row'>
                    {{#each mascotas}}
                        <div class='col d-flex my-2'>
                            <div class='card shadow-lg' style='width: 18rem'>
                                <div id="carousel{{@index}}" class="carousel slide" data-bs-ride="carousel">
                                    <div class="carousel-inner">
                                        {{#each imagenes}}
                                        <div class="carousel-item {{#unless @index}}active{{/unless}}">
                                            <img src="/dogImg/{{nombre}}" class="d-block w-100"  style='height: 18.5rem'>
                                        </div>
                                        {{/each}}
                                    </div>
                                    <button class="carousel-control-prev" type="button" data-bs-target="#carousel{{@index}}"
                                        data-bs-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Previous</span>
                                    </button>
                                    <button class="carousel-control-next" type="button" data-bs-target="#carousel{{@index}}"
                                        data-bs-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Next</span>
                                    </button>
                                </div>

                                <div class='card-body d-flex flex-column align-items-center'>
                                    <h5 class='card-title'>{{nombre}}</h5>
                                    <p>{{tipoAnimal}} {{sexo}}</p>
                                    <p>Nació en {{anioNacimiento}}</p>
                                    <form class="mb-3" method="get" action="/misMascotas/actualizarDatos/actualizarMascota/{{id}}">
                                        <input class="btn btn-primary" type="submit" value="Actualizar datos de contacto" />
                                    </form>
                                    <a class='btn btn-primary my-2 w-100' href='/misMascotas/verQR/{{id}}'>Ver QR</a>
                                    {{#if enAdopcion}}
                                        <form id="{{id}}" method="post" action="/misMascotas/removerAdopcion">
                                            <input type="number" name="idMascota" value="{{id}}" style="display: none" />
                                            <b><p class="text-danger">En adopción</p></b>
                                            <span class="btn btn-danger w-100" onclick="warningDialog({{id}})">Cancelar</span>
                                        </form>
                                        {{#if (lookup ../n_interesados @index)}}
                                            <form method="get" action="/misMascotas/interesadosAdopcion/{{id}}">
                                                <input type="submit" class="btn btn-secondary mt-2 w-100" value="Ver interesados" />
                                            </form>
                                        {{/if}}
                                    {{else}}
                                        <form id="{{id}}" method="get" action="/misMascotas/darEnAdopcion">
                                            <input type="number" name="idMascota" value="{{id}}" style="display: none" />
                                            <span class="btn btn-danger w-100" onclick="warningDialog({{id}})">Dar en adopción</span>
                                        </form>
                                    {{/if}}
                                </div>
                            </div>
                        </div>
                    {{/each}}
                </div>
                {{else}}
                    <h2>Nada para mostrar</h2>
                {{/if}}
            </div>
        </div>

        <!-- Mascotas encontradas -->
        <div class='d-flex w-75 flex-column'>
            <div>
                <h1>Mis mascotas encontradas</h1>
                <hr />
            </div>
            <div class='d-flex flex-wrap'>
                {{#if mascotasEncontradas}}
                <div class='row'>
                    {{#each mascotasEncontradas}}
                        <div class='col d-flex my-2'>
                            <div class='card shadow-lg' style='width: 18rem'>
                                <div id="carouselEncontradas{{@index}}" class="carousel slide" data-bs-ride="carousel">
                                    <div class="carousel-inner">
                                        {{#each fotos}}
                                        <div class="carousel-item {{#unless @index}}active{{/unless}}">
                                            <img src="/dogImg/{{nombre}}" class="d-block w-100"  style='height: 18.5rem'>
                                        </div>
                                        {{/each}}
                                    </div>
                                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselEncontradas{{@index}}"
                                        data-bs-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Previous</span>
                                    </button>
                                    <button class="carousel-control-next" type="button" data-bs-target="#carouselEncontradas{{@index}}"
                                        data-bs-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Next</span>
                                    </button>
                                </div>

                                <div class='card-body d-flex flex-column'>
                                    {{#with mascota}}
                                    <h5 class='card-title'>{{nombre}}</h5>
                                    <p>{{tipoAnimal}} {{sexo}}</p>
                                    <p>Nacio en {{anioNacimiento}}</p>
                                    {{/with}}

                                    {{#if aprobada}}
                                        <p class="text-success">Publicación aprobada</p>
                                        {{#if (lookup ../fueReclamado @index)}}
                                           <p class="text-success">La mascota fue reclamada. Reclamos:</p>
                                           {{#with (lookup ../mascotasReclamadas @index) as | fuck_me |}}
                                                {{#each fuck_me.listaReclamos as | hard |}}
                                                    {{> partials/datosDeContacto.hbs hard}}
                                                {{/each}}
                                           {{/with}}
                                        {{else}}
                                           <p class="text-danger">Nadie ha reclamado esta mascota.</p>
                                       {{/if}}
                                    {{else}}
                                        <p class="text-warning">Publicación pendiente</p>
                                    {{/if}}
                                    <a class="btn btn-primary my-3" href="/misMascotas/actualizarDatos/actualizarMascotaPerdida/{{id}}">Actualizar datos de contacto</a>
                                    {{#unless hogar}}
                                        {{#if aprobada}}
                                        <form id="{{id}}" method="get" action="/misMascotas/seleccionarHogarTransito">
                                            <input type="number" name="idMascotaPerdida" value="{{id}}" style="display: none" />
                                            <span class="btn btn-primary" onclick="warningDialog({{id}})">Seleccionar hogar de tránsito</span>
                                        </form>
                                        {{/if}}
                                    {{/unless}}
                                    <form method="post" action="/misMascotas/removerMascotaPerdida">
                                            <input type="number" name="idMascotaPerdida" value="{{id}}" style="display: none" />
                                            <input type="submit" class="btn btn-danger mt-2" value="Eliminar publicacion" />
                                    </form>
                                </div>
                            </div>
                        </div>
                    {{/each}}
                </div>
                {{else}}
                    <h2>Nada para mostrar</h2>
                {{/if}}
            </div>
        </div>

    <!-- Mascotas encontradas -->
    <div class='d-flex w-75 flex-column'>
        <div>
            <h1>Mis publicaciones de adopción</h1>
            <hr />
        </div>
        <div class='d-flex flex-wrap'>
            {{#if publicacionesDeseoAdoptar}}
            <div class='row'>
                {{#each publicacionesDeseoAdoptar}}
                    <div class='col d-flex my-2'>
                        <div class='card shadow-lg' style='width: 18rem'>
                            <div class='card-body d-flex flex-column'>
                            {{#with pref}}
                                <span><b>Tipo mascota:</b> {{#if tipoAnimal}}{{tipoAnimal}}{{else}}Ninguna{{/if}}</span>
                                <span><b>Sexo:</b> {{#if sexo}}{{sexo}}{{else}}Ninguna{{/if}}</span>
                                <span><b>Tiene patio:</b> {{#if tienePatio}}Si{{else}}No{{/if}}</span>
                            {{/with}}
                            <form method="post" action="/misMascotas/cancelarOfertaAdopcion">
                                <input type="number" name="idPublicacion" value={{id}} style="display: none" />
                                <input type="submit" class="btn btn-danger" value="Cancelar publicación" />
                            </form>
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
            {{else}}
                <h2>Nada para mostrar</h2>
            {{/if}}
        </div>
    </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>
</body>

</html>