<!doctype html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link href="/css/conChapita.css" rel="stylesheet" />
    <link href="/css/formStyles.css" rel="stylesheet" />
    <title>Patitas al rescate</title>

    <!-- js for forms -->
    <script src="../js/defaultForm.js"></script>
    <script src="https://kit.fontawesome.com/0d6d078f29.js" crossorigin="anonymous"></script>
</head>

<body>
{{> partials/nav.hbs this}}
    <div class="d-flex">
        <div class='bg-dark d-flex w-50 flex-column align-items-center'>
            <div class='w-75 d-flex flex-column text-white mt-4'>
                <div id="imagenesMascota" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        {{#each publicacion.mascota.imagenes}}
                        <div class="carousel-item {{#unless @index}}active{{/unless}}">
                            <img src="/dogImg/{{nombre}}" class="d-block w-100" alt="Pet photo">
                        </div>
                        {{/each}}
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#imagenesMascota"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#imagenesMascota"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
                <div>
                    <h1 class='mt-2'>{{publicacion.mascota.nombre}}</h1>
                    <p>Publicado el {{publicacion.fecha}}</p>
                </div>
                <div class='d-flex flex-column w-100 mt-4'>
                    <h4>Dueño</h4>
                    <p>{{publicacion.mascota.duenio.nombre}} {{publicacion.mascota.duenio.apellido}}</p>
                    {{#each publicacion.respuestas}}
                    <div>
                        <hr />
                        <h3>{{pregunta.pregunta}}</h3>
                        <p>{{respuesta}}</p>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
        <div class='d-flex w-50'>
            <form class='form-register mt-3' method='post' action='/ofertasAdopcion/{{publicacion.id}}/adoptarPublicacion' >
                <div class='form-main-container-half'>
                    <div>
                        <h3>
                            Completá este formulario para que el dueño de la mascota se ponga en contacto con vos y puedan concretar la adopción 🎉
                        </h3>
                        <p class="mt-3"><i class="fas fa-exclamation-triangle"></i> Tené en cuenta que estos métodos de contacto quedarán ligados a la mascota posteriormente.</p>
                    </div>
                    <div class='form-title form-title-green'>
                        <div>
                            <span></span>
                            <h1>Tus datos de contacto</h1>
                        </div>
                        <hr />
                    </div>
                    <div id="contact-section-bootstrap" class="w-100">
                    </div>
                    <button type='button' id='add-contact-bootstrap' class='btn btn-primary'>Agregar contacto</button>
                    <input type='submit' class='btn btn-primary mt-2' value="Enviar" />
                </div>
            </form>
        </div>
    </div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>
</body>

</html>